# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env

# Data 
data/raw/
data/processed/

# dbt
target/
dbt_packages/
logs/

# OS
.DS_Store
Thumbs.db

# Jupyter (if you ever add notebooks)
.ipynb_checkpoints/
dbt_internal_packages/

# DuckDB databases
*.duckdb
*.db
*.sqlite